//-
//    var movieList = [
//    {
//    title: "Ocean's Eleven",
//    rating: 9.2
//    }, {
//    title: "Pirates of the Caribbean",
//    rating: 9.7
//    }
//    ];
//
//
//
//mixin movie-card(movie)
//    h2.movie-title= movie.title
//    div.rating
//        p= movie.rating
//
//for movie in movieList
//    +movie-card(movie)




h1  #{'ob()'}

.content-box
    .card-box.box-1
        .card-tile Ethereum
        .card-icon
            img(src="../src/images/etherium.png" alt='Ethereum')
        .card-content
            .card-line
                .card-price Price
                .card-price $22 526.92

            .card-line
                .card-trigger Percent change
                .card-trigger
                    .flipswitch
                        input(name="flipswitch" type="checkbox"  class="flipswitch-cb" id="fs1" checked)
                        label(class="flipswitch-label" for="fs1")
                            span.flipswitch-inner
                            span.flipswitch-switch
            .h
                .card-line
                    .grey Hour change
                    .green +266%

            .d
                .card-line
                    .grey Day change
                    .red +266%

            .w
                .card-line
                    .grey Week change
                    .green +266%


